<div class="episode-list">
  <div class="episode" *ngFor="let ep of episodes" [routerLink]="'/episodes/' + ep.episode_id">
    <div class="episode-name">
        {{ep.episode_name_pt1}}
        <div
            *ngIf="ep.episode_name_pt2"
            class="sub-name">
            inspired&nbsp;by {{ep.episode_name_pt2}}
        </div>
    </div>
    {{ ep.published_date | date:'fullDate' }} // {{ ep.related.recipes.length }} recipes
    <ul>
        <li class="recipe" *ngFor="let r of ep.related.recipes">
            <span class="recipe-name">{{ r.name }}</span>
            <span class="muted"> ({{ r.ingredient_list.length }} items)</span>
        </li>
    </ul>

    <div class="episode-links">
        <div class="bwb-link">
            <a [href]="ep.official_link" target="_blank" (click)="$event.stopPropagation()">
                <img src="assets/bwb-logo.png" alt="Full details on Binging with Babish">
            </a>
        </div>

        <div class="yt-link">
            <a [href]="ep.youtube_link" target="_blank" (click)="$event.stopPropagation()">
                <img src="assets/yt-rgb.png" alt="Watch on YouTube">
            </a>
        </div>
    </div>
  </div>
</div>