<div class="search-container">
    <input type="search" [placeholder]="searchPlaceholder" [(ngModel)]="filters.searchTerm">
</div>

<div class="tiled-list">
  <div class="list-item" *ngFor="let ep of episodes | filterBy: filters" [routerLink]="'/episodes/' + ep.episode_id">

    <img appLazyLoad [src]="ep.image_link" [lazySrc]="placeholderImg">

    <div class="description">
        <div class="ep-name">
            <div class="item-name">
                <span appTextHighlight [content]="ep.episode_name_pt1" [searchTerm]="filters.searchTerm"></span>
                <div
                    *ngIf="ep.episode_name_pt2"
                    class="sub-name">
                    inspired&nbsp;by
                    <span appTextHighlight [content]="ep.episode_name_pt2" [searchTerm]="filters.searchTerm"></span>
                </div>
            </div>

            <!-- <div class="date">{{ ep.published_date | date:'MMMM d, yyyy' }}</div> -->
        </div>

        <div class="bwb-link">
            <a [href]="ep.official_link" target="_blank" (click)="$event.stopPropagation()">
                <img src="assets/bwb-logo.png" alt="Full details on Binging with Babish">
            </a>
        </div>

        <div class="yt-link">
            <a [href]="ep.youtube_link" target="_blank" (click)="$event.stopPropagation()">
                <img src="assets/yt-rgb.png" alt="Watch on YouTube">
            </a>
        </div>
    </div>

    <div class="matchers">
        <ul>
            <li *ngFor="let recipe of matchedRecipes(ep)">
                <div appTextHighlight [content]="recipe.name" [searchTerm]="filters.searchTerm"></div>
            </li>

            <li *ngFor="let guest of matchedGuests(ep)">
                <div appTextHighlight [content]="guest.name" [searchTerm]="filters.searchTerm"></div>
            </li>

            <li *ngFor="let ref of matchedInspiredBy(ep)">
                <div appTextHighlight [content]="ref.name" [searchTerm]="filters.searchTerm"></div>
            </li>
        </ul>
    </div>

  </div>

</div>