.sort-options {
  span:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .selected {
    font-weight: bold;
  }
  .selected:hover {
    cursor: default;
    text-decoration: none;
  }
}

/deep/ .text-highlight-name {
  color: blue;
}
/deep/ .text-highlight-units {
  color: green;
}
/deep/ .text-highlight-qty {
  color: red;
}