@import "../../styles.scss";

.filter-options {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.sort-options {
  display: block;
  margin: 10px auto;
  text-align: center;

  span:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .selected {
    font-weight: bold;
  }
  .selected:hover {
    cursor: default;
    text-decoration: none;
  }
}

::ng-deep .text-highlight-name {
    color: $color-brown;
}
::ng-deep .text-highlight-units {
    color: $color-yellow;
}
::ng-deep .text-highlight-qty {
    color: $color-red;
}



.tiled-list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    width: 85%;
    margin: 0 auto;
}

.list-item {
    flex: 1 1 300px;
    margin: 5px;
    border: 4px solid $color-red;
    border-radius: 15px;
    padding: 7px 10px;

    display: flex;
    flex-direction: column;
    align-content: space-between;

    .item-name {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
    .sub-name {
        font-weight: normal;
    }

    .recipe-name { }

    .item-links {
        margin-top: auto;
        display: flex;
        justify-content: center;

        .bwb-link img {
            width: 33px;
            height: 33px;
            padding: 7px 7px 0;
        }

        .yt-link img {
            width: 80px;
            height: 18px;
            padding: 14px 7px 7px;
        }
    }
}

ul {
    padding-left: 20px;
    margin: 5px 0 0;
}

.muted {
    color: $color-brown;
}