<div class="search-container">
    <input type="search" [placeholder]="searchPlaceholder" (input)="onSearchChange($event.target.value)">
</div>

<div class="sort-options">
  <span (click)="currentSort = ingredientsByUses" [ngClass]="{'selected': currentSort === ingredientsByUses}">Sorted by Uses</span> |
  <span (click)="currentSort = ingredientsByName" [ngClass]="{'selected': currentSort === ingredientsByName}">Sorted by Name</span>
</div>

<div class="tiled-list">

  <div class="list-item" *ngFor="let ing of currentSort | filterIng:searchValue">

      <div class="item-name">{{ ing.target }}
        <span class="muted">({{ groupedIngredients[ing.target].length }} uses)</span>
      </div>

      <ul>
        <li *ngFor="let i of groupedIngredients[ing.target]">
          <pre><span appHighlightIngredient [content]="i.raw" [ingredient]="[i.qty,i.unit,i.name,i.raw]"></span> <b>in</b> <i>{{ i.recipeName }}</i> <b>from</b> <a [routerLink]="['/episodes', i.episodeId]"><i>{{ i.episodeName }}</i></a></pre>
        </li>
      </ul>

  </div>

</div>