<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="assets/data-with-babish-logo.png" width="300" height="122" alt="Data With Babish">
  <h2>Data With Babish</h2>
  <p>
    The <i>unofficial</i> source of Binging with Babish data.
    <br/>
    Explore the data of <a href="https://github.com/jklewa/data-with-babish/#datasets">babish.json</a>
    -
    <a routerLink="/episodes">Episodes</a> |
    <a routerLink="/ingredients">Ingredients</a>
  </p>
</div>

<router-outlet></router-outlet>

<a href="https://github.com/jklewa/data-with-babish-example"><img class="github-ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
