@import "../../styles.scss";

h1, h2, h3, h4 {
    text-align: center;
}

.filter-options {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.sort-options {
  display: block;
  margin: 10px auto;
  text-align: center;

  span:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .selected {
    font-weight: bold;
  }
  .selected:hover {
    cursor: default;
    text-decoration: none;
  }
}

::ng-deep .text-highlight-name {
    color: $color-brown;
}
::ng-deep .text-highlight-units {
    color: $color-yellow;
}
::ng-deep .text-highlight-qty {
    color: $color-red;
}

.tiled-carousel {
    width: 85%;
    margin: 0 auto;
}

::ng-deep .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;

    &.prev-slide.slick-disabled,
    &.next-slide.slick-disabled {
        pointer-events: none;
        opacity: 0.2;
    }

    &.prev-slide {
        background: url(../../assets/nav-icon.png) no-repeat scroll 0 0;
        left: -33px;

        &:hover {
            background-position: 0px -53px;
        }
    }
    &.next-slide {
        background: url(../../assets/nav-icon.png) no-repeat scroll -24px 0px;
        right: -33px;

        &:hover {
            background-position: -24px -53px;
        }
    }
}

.tiled-list {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
}

.description {
    flex-basis: 100%;
    text-align: center;
    margin: 20px 0 5px;
}

.item-name {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    text-align: center;
}
.sub-name {
    font-weight: normal;
}

.list-item {
    width: 300px;
    margin: 5px;
    border: 4px solid $color-red;
    border-radius: 15px;
    padding: 7px 10px;

    display: flex;
    flex-direction: column;
    align-content: space-between;

    .description {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        margin: 0 auto;
        max-width: 300px;
        padding-bottom: 10px;
        border-radius: 10px 10px 0 0;
    }

    .ep-name {
        flex-grow: 1;
    }

    .date {
        text-align: center;
        font-size: 0.8rem;
    }

    .recipe-name { }

    .ref-type-icon {
        padding: 0 6px;
        ::ng-deep svg {
            width: 25px;
            height: 25px;
        }
    }

    .bwb-link img {
        width: 33px;
        height: 33px;
        padding: 0 3px;
    }

    .yt-link img {
        width: 80px;
        height: 18px;
        padding: 0 3px;
    }

    &:hover {
        border: 4px solid $color-yellow;
        cursor: pointer;
    }
}

ul {
    padding-left: 20px;
    margin: 5px 0 0;
}

.muted {
    color: $color-brown;
}