<div class="tiled-list" *ngFor="let show of items">
  <a [name]="'show-' + show.show_id"></a>
  <div class="description">
    <span class="item-name" style="font-size: 2rem;">
        {{ show.name }}
    </span>
    ({{ show.episodes.length }} episodes)
  </div>

  <div class="list-item" *ngFor="let ep of show.episodes" [routerLink]="'/episodes/' + ep.episode_id">

    <div class="item-name">
        {{ep.episode_name_pt1}}
        <div
            *ngIf="ep.episode_name_pt2"
            class="sub-name">
            inspired&nbsp;by {{ep.episode_name_pt2}}
        </div>
    </div>

    <div class="date">{{ ep.published_date | date:'fullDate' }}</div>

    <img appLazyLoad [src]="ep.image_link" [lazySrc]="placeholderImg">

    <div class="item-links">
        <div class="bwb-link">
            <a [href]="ep.official_link" target="_blank" (click)="$event.stopPropagation()">
                <img src="assets/bwb-logo.png" alt="Full details on Binging with Babish">
            </a>
        </div>

        <div class="yt-link">
            <a [href]="ep.youtube_link" target="_blank" (click)="$event.stopPropagation()">
                <img src="assets/yt-rgb.png" alt="Watch on YouTube">
            </a>
        </div>
    </div>

  </div>

</div>