/* You can add global styles to this file, and also import other style files */
$color-black: rgb(22,22,24);
$color-brown: rgb(169,139,111);
$color-yellow: rgb(223, 202, 102);
$color-red: rgb(183,74,67);
$color-dark-red: rgb(155,67,60);
$color-grey: rgb(214,215,217);
$color-dark-grey: rgb(178,179,181);


body {
    color: $color-black;
    font-family: Arial;
    margin: 0;
}

a {
    color: $color-red;

    &:hover {
        color: $color-yellow;
    }

    &.external-link svg {
        fill: $color-red;
    }

    &.external-link svg:hover svg {
        fill: $color-yellow;
    }
}

.search-container {
    width: 80%;
    margin: 0 auto 20px;
}

.search-container input[type="search"] {
   border: 1px solid #aaa;
   padding: 14px 12px 12px 45px;
   min-height: 20px;
   width: 100%;
   box-sizing: border-box;
   font-weight: bold;
   font-size: 1.2rem;
   background: 10px/28px no-repeat url(/assets/search.png);
   background-color: rgba(255, 255, 255, 0.4);
   background-blend-mode: lighten;

   transition: background-color .2s ease-out;

   &:focus {
    background-color: rgba(255, 255, 255, 0.2);
   }
}

::ng-deep .ngx-text-highlight {
    background: #ffed97;
}